body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(197, 231, 219);
}

#cont{
    display: flex;;
    flex-direction: row;
}

#vertexBox{
    align-self: flex-end;

}
#box{
    background-color:aliceblue;
    padding: 10 10 20 20;
}