body {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(197, 231, 219);
  margin: 0 0 0 0;
}

#app {
  width: 100%;
}

#bodySection {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  height: 41.3em;
  background-color: #3c3e43;
  padding-top: 25px;
}

#infoSectionFlex {
  display: flex;
  flex-direction: row;
}
#infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: sans-serif;
  width: 90%;
  padding: 20px 40px;
}

#infoNavigator {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  width: 10%;
  padding: 6em 40px;
  background-color: rgb(187, 226, 183);
}

#navigationList {
  /* padding-left: 9em; */
}

#navigationList > li {
  margin: 0.7em 0;
}

#cont {
  display: flex;
  flex-direction: row;
}

#vertexBox {
  display: flex;
  flex-direction: row;
}
.box {
  display: flex;
  flex-direction: column;
  height: 125px;
  width: 300px;
  padding: 10 20 10 20;
}

.dataList {
  overflow-y: scroll;
  height: 95px;
}
ul {
  padding: 0 0 0 0;
  text-align: left;
}
li {
  list-style: none;
}
.svgText {
  pointer-events: none;
}

.vertex {
}

.vertex:hover {
  fill: rgb(211, 35, 88);
  r: 6;
}

/* panels */

.react-tabs {
  display: flex;

  width: 470px;
  height: 170px;
  border: 1px solid #3c3e43;
  color: white;
  background: rgb(99, 112, 119);
  border-radius: 0 0 0 0;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 0 0 0 !important;
  padding: 0;
  color: white;
  background: #3c3e43;
}

.react-tabs__tab {
  height: 20px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  color: #bbb;
}

.react-tabs__tab--selected {
  background: #1c1d1f;
  border-color: #6eb800;
  border-left-width: thick;
  color: floralwhite;
  border-radius: 0 0 0 0 !important;
}

.react-tabs__tab-panel {
  display: none;
  width: 300px;
  height: 170px;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.panel-content {
  text-align: left;
}

#settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 36px;
}

#coordsettings {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  color: floralwhite;
}

#coordsettings > form > label {
  color: floralwhite;
}

#fileFlex {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  color: floralwhite;
}
.file {
  display: flex;
  flex-direction: column;
}

.setForm {
  margin-right: 0.5em;
}
