body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(197, 231, 219);
}

#cont{
    display: flex;;
    flex-direction: row;
}

#vertexBox{

}
#box{
    display: flex;;
    flex-direction: column;
    background-color:aliceblue;
    padding: 10 20 10 20;
}

ul{
    padding:0 0 0 0;
    text-align: left;
}
li{
    list-style: none;
}

